
  <div class="">
    <!-- <%= @jsontests %> -->
    <% @jsontests["questions"].each do | jsontest |%>
      <%= jsontest["question"] %>
      <br>
    <% end %>

    <h1>BREAK</h1>

    <% @jsontests["responses"].each do | jsontest | %>
      <%= jsontest["answers"]["opinionscale_b2FX1apYy6KY"] %>
      <%= jsontest["answers"]["dropdown_oXn12MMLCWad"] %>
      <br>
    <% end %>

  </div>
