<h1>Heading</h1>

<% @mappingHash.each do |map| %>
  <li><%= map %></li>
<% end %>

    <h1>BREAK</h1>

    <% @jsontests["responses"].each do | jsontest | %>
      <%= jsontest["answers"]["opinionscale_b2FX1apYy6KY"] %>
      <%= jsontest["answers"]["dropdown_oXn12MMLCWad"] %>
      <br>
    <% end %>

  </div>
  
<%= bar_chart @mappingHash.group_by(@mappingHash["name"]).sum(@mappingHash["score"]) %>
