/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: white;
}

h1{
  font-size: 40px;
  color: #00191C;
}

h2{
  font-size: 20px;
  font-weight: bold;
}

.container{
  margin-left: 10%;

}

.filter{
  margin-top: 50px;
  margin-bottom: 50px;
}

.filter p{
  font-size: 20px;
}

td{
  padding: 10px;
  margin: 5px;
}

td, th {
 max-width: 300px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 font-size: 20px;
}

img{
  width: 50px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  padding: 15px;
  background: #00191C;
}

.good{
  background-color: rgba(86, 191, 34, 0.65);

}

.medium{
  background-color: rgba(219, 121, 51, 0.85);

}

.bad{
  background-color: rgba(191, 34, 34, 0.56);

}
